# BEGIN KSNV-304 DEV KASIA INDEXER
dev-indexer.kasia.fyi {
    handle /healthz {
        rewrite * /metrics
        reverse_proxy kasia_indexer_dev:8080
    }

    reverse_proxy kasia_indexer_dev:8080 {
        health_uri /metrics
        health_interval 30s
        health_timeout 5s
    }
}
# END KSNV-304 DEV KASIA INDEXER
